@page
@model DraftsModel
@{
    ViewData["Title"] = "Drafts";
    <h2>@ViewData["Title"]</h2>

    if (!Model.Posts.Any())
    {
        <p>View and edit your saved drafts here.</p>
    }

    else
    {
        foreach (var post in Model.Posts)
        {
            <article>
                <h2><a href="/edit/@post.Id/@post.Slug">@post.Title</a></h2>
                @if (post.PubDate != null)
                {
                    <h5 class="date text-muted">@post.PubDate.ToString("MMM dd, yyyy")</h5>
                }
                <p class="lead">@post.Excerpt</p>
                <h3><a href="/post/@post.Id/@post.Slug"><span class="glyphicon glyphicon-comment"></span> @post.CommentCount</a></h3>
            </article>
        }
    }
}
