@page "{id}"
@model EditModel
@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"

@using BlogTemplate._1
@using BlogTemplate._1.Models
@using Microsoft.AspNetCore.Mvc.RazorPages

@{
    ViewData["Title"] = "Edit Post";
}

<article>
    <h2>Edit Post</h2>
    <div class="col-md-12 well">
        <form method="post" id="editpost" enctype="multipart/form-data" data-has-slug="@Model.hasSlug">
            @if (TempData["notice"] != null)
            {
                <h3>@TempData["notice"]</h3>
            }
            <div class="form-group col-md-6">
                <label for="Title">Title</></label>
                <input type="text" class="form-control" placeholder="" asp-for="EditedPost.Title" data-oldtitle="@Model.EditedPost.Title" />
                <span asp-validation-for="EditedPost.Title" class="text-warning"></span>
            </div>
            <input type="hidden" name="updateSlug" id="updateSlug" value="false" />
            <div class="col-md-12 form-group">
                <label for="Body" class="primaryField">Body</label>
                <textarea rows="10" class="form-control" placeholder="" asp-for="EditedPost.Body" id="post-body"></textarea>
                <span asp-validation-for="EditedPost.Body" class="text-warning"></span>
            </div>
            <div class="col-md-12 form-group">
                <label for="Excerpt" class="secondaryField">Excerpt (Optional)</label>
                <textarea class="form-control" placeholder="" asp-for="EditedPost.Excerpt"></textarea>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label>Upload Files</label>
                    <input type="file" name="files" multiple id="file-input" onchange="insertFiles()" />
                </div>
            </div>
            <div class="col-md-12">
                <input type="submit" name="save" class="btn btn-primary btn-sm" value="Save Draft" asp-page-handler="SaveDraft" />
                <input type="submit" name="publish" id="postsave" class="btn btn-primary btn-sm" value="Publish" asp-page-handler="Publish" />
            </div>
            <div class="col-md-12">
                <p class="cancel-link"><a asp-page="/post" asp-route-id="@ViewData["id"]" asp-route-slug="@ViewData["Slug"]"><span class="glyphicon glyphicon-triangle-left"></span> Cancel and Undo Changes</a></p>
            </div>
        </form>
    </div>
</article>

@section Scripts {
    <script src="~/js/updateBody.js"></script>
    <script src="~/js/slugUpdateWarning.js"></script>
}
