@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";

    if (!Model.PostSummaries.Any())
    {
        <div class="jumbotron">
            <h1>Welcome!</h1>
            <p>Get started and write your first blog post <a class="text-primary" asp-page="/New">here</a>.</p>
            <p>Happy blogging!</p>
        </div>
    }

    else
    {
        foreach (var post in Model.PostSummaries)
        {
            <article>
                <div class="col-md-12">
                    <h2><a asp-page="/post" asp-route-id="@post.Id.ToString("N")" asp-route-slug="@post.Slug">@post.Title</a></h2>
                    <div class="h5 text-muted">@post.PublishTime.ToString("MMM dd, yyyy")</div> 
                    <p class="lead">@post.Excerpt</p>
                    <div class="h4"><a asp-page="/post" asp-route-id="@post.Id.ToString("N")" asp-route-slug="@post.Slug"><span class="glyphicon glyphicon-comment"></span> @post.CommentCount</a></div>
                </div>
            </article>
        }
    }
}
