@page "{slug}"
@model PostModel
@using Microsoft.AspNetCore.Mvc.RazorPages
@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"

@{
    ViewData["Title"] = Model.Post.Title;
}


<article>
    <h1>@Model.Post.Title</h1>
    <a href="/edit/@Model.Post.Slug">Edit Post</a>
    <p id="date">@Model.Post.PubDate.ToString("MMM dd, yyyy")</p>
    <span>@string.Join(", ", Model.Post.Tags)</span>
    <p>@Model.Post.Body</p>

    <h2>Comments</h2>


    @foreach (var comment in Model.Post.Comments)
    {
        string cssClass = comment.IsPublic ? "" : "deletedContent";
        <form id="form1" method="post">
            <div class="@cssClass">
                <p id="Comment-Title">@comment.AuthorName</p>
                <p id="Comment-Body">@comment.AuthorEmail</p>
                <p id="Comment-Date">@comment.PubDate.ToString("MMM dd, yyyy")</p>
                <p id="Comment-Body">@comment.Body</p>
                <input type="hidden" name="commentId" id="commentId" value="@comment.UniqueId" />
                @if (comment.IsPublic)
                {
                    <input type="submit" name="delete" value="Delete Comment" asp-page-handler="DeleteComment" />
                }
                else
                {
                    <input type="submit" name="delete" value="Republish Comment" asp-page-handler="UndeleteComment" />
                }
            </div>
        </form>
    }

    <hr />
    <h3>Add Comment</h3>
    <form id="form1" method="post">
        <div asp-validation-summary="All"></div>
        <p><h3><label for="AuthorName">Name</></label></h3></p>
        <p><input type="text" placeholder="" name="AuthorName" asp-for="Comment.AuthorName" /></p>
        <span asp-validation-for="Comment.AuthorName" class="invalid"></span>
        <p><h4><label for="AuthorEmail">Email</label></h4></p>
        <p><textarea name="AuthorEmail" placeholder="" asp-for="Comment.AuthorEmail"></textarea></p>
        <span asp-validation-for="Comment.AuthorEmail" class="invalid"></span>
        <p><label for="Body">Comment</label></p>
        <p><textarea name="Body" placeholder="" asp-for="Comment.Body"></textarea></p> 
        <input type="submit" name="publish" value="Publish" asp-page-handler="PublishComment" />
    </form>
</article>