@page "{slug}"
@model PostModel
@using Microsoft.AspNetCore.Mvc.RazorPages
@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"

@{
    ViewData["Title"] = Model.Post.Title;
}


<article>
    <h1>@Model.Post.Title</h1>
    <a href="/edit/@Model.Post.Slug">Edit Post</a>
    <p id="date">@Model.Post.PubDate.ToString("MMM dd, yyyy")</p>
    <span>@string.Join(", ", Model.Post.Tags)</span>
    <p>@Model.Post.Body</p>

    <h2>Comments</h2>


    @foreach (var comment in Model.Post.Comments)
    {
        <p id="Comment-Title">@comment.AuthorName</p>
        <p id="Comment-Body">@comment.AuthorEmail</p>
        <p id="Comment-Date">@comment.PubDate.ToString("MMM dd, yyyy")</p>
        <p id="Comment-Body">@comment.Body</p>
    }


    <h3>Add Comment</h3>
    <form id="form1" method="post">
        <p><h3><label for="AuthorName">Name</></label></h3></p>
        <p><input type="text" name="AuthorName" asp-for="Comment.AuthorName" /></p>
        <p><h4><label for="AuthorEmail">Email</label></h4></p>
        <p><textarea name="AuthorEmail" asp-for="Comment.AuthorEmail"></textarea></p>
        <p><label for="Body">Write a comment...</label></p>
        <p><textarea name="Body" asp-for="Comment.Body"></textarea></p>
        <input type="submit" name="publish" value="Publish" asp-page-handler="Publish" />
    </form>
</article>