@page "{id}/{slug}"
@model PostModel
@using Microsoft.AspNetCore.Mvc.RazorPages
@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"

@{
    ViewData["Title"] = Model.Post.Title;
}


<article>
    <div class="col-md-12">
        <h1>@Model.Post.Title</h1>
        <h5 name="date" class="date text-muted">@Model.Post.PubDate.ToString("MMM dd, yyyy")</h5>
        <p>@Model.HtmlBody()</p>
    </div>

    @if (User.Identity.IsAuthenticated)
    {
        <div class="col-md-12">
            <h4 class="text-primary"><a asp-page="/edit" asp-route-id="@Model.Post.Id.ToString("N")" asp-route-slug="@Model.Post.Slug">Edit Post</a></h4>
        </div>
        <form class="col-md-12" id="deletepost" method="post">
            @if (Model.Post.IsDeleted)
            {
                <div>
                    <input type="submit" name="undelete" class="btn btn-primary btn-sm" value="Undelete" asp-page-handler="UnDeletePost" />
                </div>
            }
            else
            {
                <div>
                    <input type="submit" name="delete" class="btn btn-primary btn-sm" value="Delete" asp-page-handler="DeletePost" />
                </div>
            }
        </form>
        <div class="col-md-6">
            <h2>Comments</h2>
            @if (Model.Post.Comments.Count == 0)
            {
                <p class="text-muted">No comments yet. Be the first to comment!</p>
            }
            @foreach (var comment in Model.Post.Comments)
            {
                string cssClass = comment.IsPublic ? "" : "deletedContent";
                <form id="form1" method="post">
                    <div class="@cssClass">
                        @if (comment.IsPublic)
                        {
                            <div class="well well-sm">
                                <h4 name="Comment-Title" class="commentTitle">@comment.AuthorName</h4>
                                <h6 name="Comment-Date" class="commentDate">@comment.PubDate.ToString("MMM dd, yyyy")</h6>
                                <p name="Comment-Body" class="commentBody">@comment.Body</p>
                                <input type="hidden" name="commentId" id="commentId" value="@comment.UniqueId" />
                                <input type="hidden" name="slug" value="@Model.Post.Slug" />
                                <input type="submit" name="delete" class="btn btn-primary btn-sm" value="Delete Comment" asp-page="ManageComment" asp-page-handler="DeleteComment" />
                            </div>

                        }
                        else
                        {
                            <div class="well well-sm">
                                <del class="h4">
                                    <h4 name="Comment-Title" class="commentTitle">@comment.AuthorName</h4>
                                    <h6 name="Comment-Date" class="commentDate">@comment.PubDate.ToString("MMM dd, yyyy")</h6>
                                </del>
                                <del><p name="Comment-Body" class="commentBody">@comment.Body</p></del>

                                <input type="hidden" name="commentId" id="commentId" value="@comment.UniqueId" />
                                <input type="hidden" name="slug" value="@Model.Post.Slug" />
                                <input type="submit" name="undelete" class="btn btn-primary btn-sm" value="Republish Comment" asp-page="ManageComment" asp-page-handler="UndeleteComment" /> 
                            </div>
                        }
                    </div>
                </form>
            }
        </div>
    }
    else
    {
        <div class="col-md-6">
            <h2>Comments</h2>
            @if (Model.Post.Comments.Count == 0)
            {
                <p class="text-muted">No comments yet. Be the first to comment!</p>
            }
            @foreach (var comment in Model.Post.Comments)
            {
                @if (comment.IsPublic)
                {
                    <form id="form1" method="post">
                        <div class="well well-sm">
                            <h4 name="Comment-Title" class="commentTitle">@comment.AuthorName</h4>
                            <h6 name="Comment-Date" class="commentDate">@comment.PubDate.ToString("MMM dd, yyyy")</h6>
                            <p name="Comment-Body" class="commentBody">@comment.Body</p>
                            <input type="hidden" name="commentId" id="commentId" value="@comment.UniqueId" />
                            <input type="hidden" name="slug" value="@Model.Post.Slug" />
                        </div>
                    </form>
                }
            }
        </div>
    }

    <hr class="commentsDivider" />
    @if (Model.Post.IsPublic && !Model.IsCommentsFull)
    {
        <div class="col-sm-6" style="height:6px;"></div>
        <div class="add-comment-form">
            <div class="col-md-6">
                <h3>Add Comment</h3>

                <div class="well">
                    <form id="comment-form" method="post">
                        <div class="form-group">
                            <label for="AuthorName">Name</label>
                            <input type="text" class="form-control" placeholder="" name="NewComment.AuthorName" />
                        </div>
                        <div class="form-group">
                            <label for="Body">Comment</label>
                            <textarea placeholder="" class="form-control" name="NewComment.Body"></textarea>
                        </div>
                        <input type="submit" name="publish" class="btn btn-primary btn-sm" value="Publish" asp-page-handler="PublishComment" />
                    </form>
                </div>
            </div>
        </div>
    }
</article>
