@page "{slug}"
@model PostModel
@using Microsoft.AspNetCore.Mvc.RazorPages
@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"

@{
    ViewData["Title"] = Model.Post.Title;
}


<article>
    <h1>@Model.Post.Title</h1>
    <a href="/edit/@Model.Post.Slug">Edit Post</a>
    <p name="date" class="date">@Model.Post.PubDate.ToString("MMM dd, yyyy")</p>
    <span>@string.Join(", ", Model.Post.Tags)</span>
    <p>@Model.Post.Body</p>

    <h2>Comments</h2>

    @if (Model.Post.Comments.Count == 0)
    {
        <p>No comments to show.</p>
    }

    @foreach (var comment in Model.Post.Comments)
    {
        string cssClass = comment.IsPublic ? "" : "deletedContent";
        <form id="form1" method="post">
            <div class="@cssClass">
                <p name="Comment-Title" class="commentTitle">@comment.AuthorName</p>
                <p name="Comment-Body" class="commentBody">@comment.AuthorEmail</p>
                <p name="Comment-Date" class="commentDate">@comment.PubDate.ToString("MMM dd, yyyy")</p>
                <p name="Comment-Body" class="commentBody">@comment.Body</p>
                <a href="/post/@Model.Post.Slug" class="subtleLink">Reply</a>
                <br />
                <input type="hidden" name="commentId" id="commentId" value="@comment.UniqueId" />
                @if (comment.IsPublic)
                {
                    <input type="submit" name="delete" value="Delete Comment" asp-page-handler="DeleteComment" />
                }
                else
                {
                    <input type="submit" name="delete" value="Republish Comment" asp-page-handler="UndeleteComment" />
                }
            </div>
        </form>
    }

    <hr />
    @if (Model.Post.IsPublic)
    {
        <h3>Add Comment</h3>
        <form id="form1" method="post">
            <div asp-validation-summary="All"></div>
            <label for="AuthorName" class="primaryField">Name</label>
            <br />
            <input type="text" placeholder="" asp-for="Comment.AuthorName" />
            <span asp-validation-for="Comment.AuthorName" class="invalid"></span>
            <br />
            <label for="AuthorEmail" class="primaryField">Email</label>
            <br />
            <input type="text" placeholder="" asp-for="Comment.AuthorEmail" />
            <span asp-validation-for="Comment.AuthorEmail" class="invalid"></span>
            <br />
            <label for="Body" class="primaryField">Comment</label>
            <br />
            <textarea placeholder="" asp-for="Comment.Body"></textarea>
            <span asp-validation-for="Comment.Body" class="invalid"></span>
            <br />
            <input type="submit" name="publish" value="Publish" asp-page-handler="PublishComment" />
        </form>
    }
</article>